Source: py3upc-ean
Maintainer: Kazuki Przyborowski <kazuki.przyborowski@gmail.com>
Homepage: https://github.com/GameMaker2k/PyUPC-EAN/
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, python3-imaging, debhelper
Standards-Version: 3.9.1

Package: python3-pyupcean
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: A barcode library/module for python.
 PyUPC-EAN is a barcode library/module for Python. It supports the barcode formats upc-e, upc-a, ean-13, ean-8, ean-2, ean-5, itf14, codabar, code11, code39, code93, and msi.
